function UART.init 0
push constant 8194
pop static 0
push constant 0
return
function UART.rx 1
push constant 1
neg
pop local 0
label while2
push local 0
push constant 1
neg
eq
not
if-goto whileend2
push static 0
push constant 1
add
pop pointer 1
push that 0
pop local 0
goto while2
label whileend2
push constant 1
push static 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function UART.tx 1
push constant 0
pop local 0
label while2
push local 0
not
not
if-goto whileend2
push static 0
push constant 0
add
pop pointer 1
push that 0
pop local 0
goto while2
label whileend2
push constant 0
push static 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function UART.print 1
push constant 0
pop local 0
label while2
push local 0
push argument 0
call String.length 1
lt
not
if-goto whileend2
push argument 0
push local 0
call String.charAt 2
call UART.tx 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto while2
label whileend2
push constant 0
return
function UART.println 0
push argument 0
call UART.print 1
pop temp 0
push constant 13
call UART.tx 1
pop temp 0
push constant 10
call UART.tx 1
pop temp 0
push constant 0
return
function UART.input 2
push constant 80
call String.new 1
pop local 0
call UART.rx 0
pop local 1
label while2
push local 1
push constant 13
eq
not
not
if-goto whileend2
push local 0
push local 1
call String.appendChar 2
pop temp 0
push local 1
call UART.tx 1
pop temp 0
call UART.rx 0
pop local 1
goto while2
label whileend2
push local 0
return
